body {
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}